table th {
	background-color: #eee;
}

.numbers-of-power-eggs-table {
	width: 796px;
	margin-left: auto;
	margin-right: auto;
}

.numbers-of-power-eggs-table .stage-numbers {
	width: 48px;
}

.numbers-of-power-eggs-table .fees {
	width: 60px;
}

.numbers-of-power-eggs-table .rewards {
	width: 120px;
}

.numbers-of-power-eggs-table td {
	text-align: center;
}

.numbers-of-power-eggs-table .stage-name {
	text-align: left;
	padding: 0 16px;
}
